[2019-02-05 11:45] ronaldtse opened #1 "Move "Installation Guide.docx" content to README of this repository."

[2019-02-05 11:48] ronaldtse opened #2 "Delete docs/ directory when child tasks completed"
Perform this task when the following are done.

* [x] https://github.com/ISO-TC211/geodetic-registry-docs/issues/1
* [x] https://github.com/ISO-TC211/geodetic-registry-docs/issues/2

[2019-03-17 12:18] ronaldtse opened #3 "500 error on clicking on WKT"
On this page (https://registry.isotc211.org/item/f35d0f6f-a998-4e5e-9ffb-43a96907b803), click on "WKT" at the top right corner:

<img width="1570" alt="Screen Shot 2019-03-17 at 8 10 45 PM" src="https://user-images.githubusercontent.com/11865/54490440-c078bd80-48f0-11e9-9bfc-fb80144fae9d.png">

The link (https://registry.isotc211.org/item/f35d0f6f-a998-4e5e-9ffb-43a96907b803/wkt) will cause a 500

[2019-03-21 08:01] ronaldtse opened #4 "Update git submodules to use authoritative GitHub URLs"

[2019-03-21 09:20] #4 closed, assigned to nobody

[2019-03-21 16:31] #3 closed, assigned to nobody

[2019-03-28 07:33] ronaldtse opened #5 "Provide Kartverket’s logo and some information on a page to acknowledge Kartverket’s contribution"
We have to implement a page that provides acknowledgment to Kartverket.

I suggest we create a new page on the site called "About" and it will describe the background, history and the current operations of the geodetic registry.

[2019-05-02 06:10] ronaldtse commented on #2
Both tasks are done in https://github.com/ISO-TC211/iso-geodetic-register-docs .

[2019-05-02 06:10] ronaldtse commented on #2
@phuonghuynh please help delete the `docs/` directory.

[2019-05-02 06:11] ronaldtse opened #6 "Setup email sending"
Use Amazon SES.

[2019-05-02 06:12] ronaldtse opened #7 "Update styling of registry to look like the rest of the sites"
Update styling of registry to look like the rest of the sites, add powered-by logo.

[2019-05-03 02:54] ronaldtse commented on #1
Resolved in https://iso-tc211.github.io/iso-geodetic-register-docs/

[2019-05-03 02:54] #1 closed

[2019-05-03 02:55] ronaldtse opened #8 "Update documentation link to point to https://iso-tc211.github.io/iso-geodetic-register-docs/"
And remove the old PDF file.

[2019-05-03 03:12] ronaldtse commented on #5
Logo: https://commons.wikimedia.org/wiki/File:Kartverket_logo_upright.svg

[2019-05-21 08:12] ronaldtse opened #9 "Add Google Analytics"
For registry.isotc211.org:

[code]

[2019-05-22 05:37] ronaldtse commented on #8
Confirmed done. Thanks!

[2019-05-22 05:37] #8 closed

[2019-05-22 05:40] ronaldtse commented on #8
Implemented in https://github.com/ISO-TC211/iso-geodetic-registry/commit/84d5cca706d07f9540ccc160f86cbd9efabfe372

[2019-05-22 08:07] ronaldtse commented on #9
This is done in https://github.com/ISO-TC211/iso-geodetic-registry/commit/be45dd9bc16a66938b3d687e14dc59dd633fc244

[2019-05-22 08:07] #9 closed

[2019-05-22 08:13] ronaldtse commented on #2
Done in https://github.com/ISO-TC211/iso-geodetic-registry/commit/df1b23dfb0c4ebcbfb202811937c5723fb81f3a4

[2019-05-22 08:13] #2 closed

[2019-05-23 03:26] ronaldtse opened #11 "No place to reset password"
The reset password functionality is implemented in code (hopefully it works), but is not provided in the UI.

The relevant code:
RegistryUserServiceImpl.java
[code]

This issue is to expose this functionality on the login forms (top right hand corner, and full size).

[2019-05-23 03:27] ronaldtse commented on #6
This is stuck on #11 . We can't verify that emails are sent to a non-existent email address ("admin@example.org").

[2019-06-01 03:49] phuonghuynh commented on #11
@ronaldtse could we add reset pwd button?

[2019-06-01 03:50] phuonghuynh commented on #7
The logo added

[2019-06-01 03:51] ronaldtse commented on #7
Thanks for adding the powered-by, next we should update the styling. Maybe @strogonoff has an idea how to.

[2019-06-01 03:52] ronaldtse commented on #5
@phuonghuynh the next we need to handle is this extra page. Maybe we can generate it using Jekyll?

[2019-06-01 03:52] ronaldtse commented on #5
ping @strogonoff

[2019-06-01 03:52] ronaldtse commented on #11
Yes @phuonghuynh , thanks!

[2019-06-01 04:02] phuonghuynh commented on #5
We could use same style with the current site.
New empty "about" page added but not committed since i don't know the content

[2019-06-01 04:09] ronaldtse commented on #5
I’m not sure how to deal with this but ideally we want to keep the static content separate from the registry software...

[2019-06-03 02:18] ronaldtse commented on #5
One "proper" way of doing this is to use an API gateway:

* forward dynamic requests to the container
* forward static page requests to the static pages from S3 (e.g. https://medium.com/@JCDubs/api-gateway-s3-proxy-a72e398b4d03).

[2019-06-06 17:35] ronaldtse opened #13 "Add Google Form to solicit feedback"
The code is shown below:

[code]

This form will automatically send feedback to the geodetic-registry-feedback repository as new issues.

[2019-06-09 01:45] ronaldtse commented on #11
Ping @phuonghuynh

[2019-07-02 08:44] phuonghuynh commented on #13
Which page should we add this form?

[2019-07-02 08:59] ronaldtse commented on #13
@phuonghuynh we should add a Feedback page like this: https://www.geolexica.com/about/

[2019-07-02 08:59] ronaldtse commented on #13
Maybe `geodetic.isotc211.org/feedback`?

[2019-07-15 09:39] ronaldtse commented on #5
Ping @phuonghuynh

[2019-07-15 14:21] phuonghuynh commented on #5
waiting for page template, i have no idea about the content of the page.

[2019-08-22 04:18] ronaldtse opened #17 ""Superseding" action causes crashes at Registry"
From @maccraymer :

[2019-09-22 21:19] maccraymer commented on #7
What exactly do you mean by “styling” of the registry? What are the “rest of the sites”? Who is @strogonoff?

[2019-09-22 21:44] maccraymer commented on #5
Why can’t we simply add a short paragraph to the Welcome/home page of the Registry for now? That would take little effort. The paragraph can be based on the TC 211 resolution acknowledging Kartverket’s contribution. The word Kartverket can provide a link to the Kartverket website.

If we do add an “About” page, it think it should provide information about the roles of the different entities respon

[2019-09-22 22:04] maccraymer commented on #11
This issue appears to be completed. There is a “Forgot password” link in the drop down login menu and it opens a web page to reset a user’s password. Why is there no comment on this and why isn’t the issue marked as done and closed?

Also, some other issues are marked as done but not closed. Why not?

[2019-09-22 22:16] maccraymer opened #18 "Need development instance of registry"
We need a development or staging instance of the Registry separate from the production instance. The purpose would be to test and evaluate the functionality of the existing Registry and the implementation of future enhancements without the risk of corrupting the production instance.

[2019-09-23 00:33] ronaldtse commented on #7
The styling of the registry is the design of the website. The current design differs from the rest of the TC 211 sites, which is slightly awkward in consistency.

We are revamping parts of the registry for a more efficient architecture (i.e.: reducing resource costs).

@maccraymer : @strogonoff is my colleague at Ribose.

[2019-09-23 00:33] ronaldtse commented on #18
@maccraymer we're working on this right now. @phuonghuynh is the one responsible at Ribose.

[2019-09-23 00:33] ronaldtse commented on #13
And this is done. Thanks @phuonghuynh !

[2019-09-23 00:33] #13 closed

[2019-09-23 00:34] ronaldtse commented on #11
@maccraymer thanks for the reminder! The only reason some issues were done but not closed is because we forgot to close them 😉

[2019-09-23 00:37] ronaldtse commented on #5
@maccraymer an update to the home page would work, but an About page is easier to manage in the longer term. The issue we have now is how to make a separate split between the front-end and back-end for cleaner separation of responsibilities (people responsible for the content pages vs the service).

I will come up with some draft here to have the content ready...

[2019-09-23 04:26] phuonghuynh commented on #18
@ronaldtse we supported "env" already, but we did not deploy it. Could we do deploy it for the staging now or we should wait for Lamdba version finished?

[2019-09-23 04:27] ronaldtse commented on #18
@phuonghuynh let's deploy the Lambda version instead. We don't want to handle two Docker images, but we will need two separate databases for staging and production.

[2019-09-23 14:37] ronaldtse opened #19 "Setup Milestones and Project boards"
Setup Milestones and Project boards for Geodetic Registry software releases.

@phuonghuynh could you please help populate the milestones and the project boards with appropriate issues? Thanks!

_Originally posted by @ronaldtse in https://github.com/ISO-TC211/geodetic-registry-feedback/issues/2#issuecomment-534127420_

[2019-09-24 03:43] phuonghuynh commented on #11
This is done, we can close it now

[2019-09-24 03:43] #11 closed

[2019-09-24 03:43] phuonghuynh commented on #6
This issue is done

[2019-09-24 03:43] #6 closed

[2019-09-24 03:47] phuonghuynh commented on #19
Project boards is populated, but I not sure which milestones should be populated since we are working on geodetic-infra code, which is not related to the geodetic-domain code.

[2019-09-29 14:31] ronaldtse opened #20 "Replace Travis with GitHub Actions"
Much faster and more stable.

[2019-10-01 06:40] maccraymer commented on #18
Any further progress on this? I will be meeting with the TC 211 Secretariat on Monday and need to report on this. Florian Esser has also agreed to continue the further development of the registry software. We need this staging instance to further test the operation of the Registry ASAP in order to compile a list of problems that need to be addressed in the next maintenance contract.

[2019-10-01 06:44] maccraymer commented on #17
Florian Esser has confirmed this bug was present in the original software that was installed in Norway. Apparently, it has existed for a while. I suggest to keep this issue open until it is fixed in the next maintenance contract with Florian.

[2019-10-01 07:35] phuonghuynh commented on #18
As discussed, we will use AWS Lambda for Staging & Production as well, however, I facing an issue of Spring Thymeleaf and Spring Container compatible issue with AWS Lambda Container, as error bellow. I think we can maintain 2 dockers for both prod & staging for now.
/cc @ronaldtse

[code]

[2019-11-25 16:13] ronaldtse opened #25 "Unexpanded `${mail.baseUrl}` in password reset emails (production + staging)"
From @maccraymer

The problem is `${mail.baseUrl}` is not expanded in email. @phuonghuynh could you confirm this is an issue with the staging and production instances, and get this fixed? Thanks!

[2019-11-25 16:28] ronaldtse commented on #20
Closed #24

[2019-11-25 16:28] #20 closed

[2020-01-15 07:50] ronaldtse commented on #25
@phuonghuynh I believe this has been fixed?

[2020-01-15 07:50] ronaldtse commented on #18
We already have a separate staging instance. Closing for now.

[2020-01-15 07:50] #18 closed

[2020-01-17 15:42] ronaldtse opened #26 "Split API and frontend"
The registry currently renders HTML at the server side and treats API access as a second-class citizen. This task is to reverse the role so that API access is the primary method of accessing, allowing it to be machine-useable, and then implement a front-end that utilizes that API.

[2020-01-29 13:48] phuonghuynh opened #27 "Implement Full Home Page"
- [ ] Implement Home Page backend (spring boot 1x)
 - [ ] Implement Home Page front-end (angular-8)

Code base in branch "ang8" already

A part of issue #26

[2020-01-29 13:52] phuonghuynh opened #28 "Home Page deployment to AWS"
Implement Terraform module or AWS CloudFormation Stack for this one. Home Page also requires DB connection.

Related issue #27

[2020-02-03 23:18] ronaldtse commented on #25
@phuonghuynh is this fixed? Thanks.

[2020-02-03 23:22] ronaldtse commented on #28
@phuonghuynh let's do Terraform if possible for simplicity!

[2020-02-13 15:34] phuonghuynh opened #30 "Replace spring security function"
Since AWS is stateless, we need to find a way to replace spring security for Admin actions.

Related issue #26

[2020-02-13 15:35] phuonghuynh commented on #26
Sub issues list:
-  [ ] Home page implement as a simple app but full integration, #27
-  [ ] Spring security replacement, #30

[2020-02-13 16:27] phuonghuynh commented on #25
Yes, fixed , https://github.com/ISO-TC211/geodetic-registry-infra/blob/master/terraform-isoreg/terraform.tfstate#L896

[2020-02-13 16:27] #25 closed

[2020-02-20 04:05] phuonghuynh opened #33 "Apply Spring Boot 2x for the legacy Application"
As the title, we need to find a way to enable Spring Boot 2x for the Legacy code.

The purpose is that we will deploy this spring boot application to AWS lambda as API Gateway and deploy the Frontend in Angular8 to AWS S3 as the final wep application.

We **MUST NOT** touch to the legacy code, we will add new sup-maven-module for this spring boot application.

[2020-02-22 06:53] phuonghuynh commented on #33
In short, we need to let Spring Boot scan and inject beans in sub-module bellow to expose RestApi for it
[code]

[2020-02-22 08:30] ronaldtse commented on #33
@phuonghuynh I'm thinking that we should change the namespace. `org.iso.registry` is incorrect; ISO has many registries. This should probably be `org.isotc211.geodetic` for now?

[2020-02-22 17:44] phuonghuynh commented on #33
Yes, i will create an other issue to follow up this one

[2020-02-22 17:45] phuonghuynh opened #40 "Change the namespace "org.iso.registry" to "org.isotc211.geodetic""
Link comment: https://github.com/ISO-TC211/iso-geodetic-registry/issues/33#issuecomment-589932532

[2020-03-01 10:37] florianesser opened #49 "Manage Extents as register items"
Currently, item classes that include information of any kind of geographical extent (e.g. a `domainOfValidity`) contain that extent information **by value**. That means that changes to an extent in one item do not affect the extent of other items that happen to share the same extent information.

As part of the migration to ISO 19111:2019 it was suggested by the Control Body to manage extents as i

[2020-03-01 10:42] florianesser opened #50 "Manage Citations as register items"
Similar to managing extents as register items (#49), it was suggested to manage Citations as register items in the future.

[2020-03-01 10:50] florianesser opened #51 "Implement ObjectUsage interface"
The previously separate attributes `scope` and `domainOfValidity` were combined in the new data type `ObjectDomain` which is the type of the attribute `domain` in the new interface `ObjectUsage`. The interface `ObjectDomain` needs to be inserted in the type hierarchy between `IdentifiedObject` and CRS, Datum and Coordinate Operation types (see fig. 7 in ISO 19111:2019).

[2020-03-01 10:55] florianesser opened #52 "Add item class "Point Motion Operation" in "Coordinate Operations""
A new item class `PointMotionOperationItem` (derived from `SingleOperationItem`) needs to be implemented (see fig. 15 in ISO 19111:2019).

[2020-03-01 11:05] florianesser opened #53 "Update VerticalDatum item class"
Required changes:
- rename to `VerticalReferenceFrameItem`
- add `realizationMethod` attribute and required code list

[2020-03-01 11:11] florianesser opened #54 "Add item class "Dynamic Vertical Reference Frame" in Datums package"
A new item class `DynamicVerticalReferenceFrameItem` needs to be implemented (see fig. 13 in ISO 19111:2019).

[2020-03-01 11:17] florianesser opened #55 "Update Datum item base class"
Implement relevant changes in the Datums package:

- remove `scope` and `domainOfValidity` now handled by `ObjectUsage` (#51)
- rename `realizationEpoch` to `publicationDate`

[2020-03-01 11:19] florianesser opened #56 "Add item class "Dynamic Geodetic Reference Frame" in Datums package"
A new item class `DynamicGeodeticReferenceFrameItem` needs to be implemented (see fig. 13 in ISO 19111:2019).

[2020-03-01 11:24] florianesser opened #57 "Update GeodeticDatum item class"
Required changes:

- rename to `GeodeticReferenceFrameItem`
- make `ellipsoid` reference optional in case of a geodetic CRS (but not geographic CRS).

[2020-03-01 16:07] florianesser opened #59 "Update Geodetic CRS item class"
Required changes:

- add `velocityModel` attribute referencing 0..n `PointMotionOperationItem`s

[2020-03-01 16:08] florianesser opened #60 "Implement Datum Ensemble item class"

[2020-03-01 16:09] florianesser opened #61 "Update Single CRS base class"
Required changes:

- add `datumEnsemble` attribute
- add constraint that a `SingleCRS` references either a datum or a datum ensemble

[2020-03-01 16:13] florianesser opened #62 "Update Vertical CRS item class"
Required changes:

- [ ] add `velocityModel` attribute referencing 0..n `PointMotionOperationItem`s
- [ ] add `geoidModel` attribute referencing 0..n `TransformationItem`s

[2020-03-01 16:18] florianesser opened #63 "Add Derived CRS item classes"
Required new item classes:

- [ ] Derived Geodetic CRS
- [ ] Derived Geographic CRS
- [ ] Derived Engineering CRS
- [ ] Derived Projected CRS

[2020-03-15 12:45] florianesser opened #67 "Define license for changes developed by NRCan"
Several recent contributions, especially the updates required for being compliant with ISO 19111:2019, are being developed under a contract with Natural Resources Canada (NRCan). NRCan needs to specify what license applies to these contributions.

cc: @ronaldtse

[2020-03-16 02:10] ronaldtse commented on #67
@florianesser thanks for the ping! Will await @maccraymer 's response.

[2020-03-16 11:26] maccraymer commented on #67
By default, all work performed by Canadian government (NRCan) employees and contractors is owned by “Her Majesty the Queen in Right of Canada as Represented by Natural Resources Canada”. This is the same as for the work Florian did for Kartverket. Kartverket owns that code but has made it open source after the fact. I (NRCan) will do the same for the code developed by Florian under contract to NRC

[2020-03-16 11:28] maccraymer commented on #67
@florianesser, how did Kartverket make their code open source. What steps/procedure did they take to make it officially open source?

[2020-03-16 11:29] ronaldtse commented on #67
@maccraymer I worked with Morten with Kartverket's lawyers to arrive at an open source license that Kartrverket agreed to, and we made the code open source carrying that license.

[2020-03-16 11:32] ronaldtse commented on #67
@maccraymer for clarity, the code currently carries these licenses stated here:

https://github.com/ISO-TC211/iso-geodetic-registry/blob/master/LICENSE.adoc

I would recommend following the BSD 2-Clause license adopted by Kartverket.

[2020-03-16 11:33] maccraymer commented on #67
@ronaldtse Can I get a copy of the Kartverket open source license agreement so NRCan can do the same?

[2020-03-16 11:34] ronaldtse commented on #67
@maccraymer here it is:

Kartverket's BSD 2-Clause License
-------

The graphical user interface of the ISO Geodetic Registry has been developed by Kartverket.

Copyright (c) 2016-2019, Kartverket. All rights reserved.

Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

Redistributions of source code must

[2020-03-16 11:34] maccraymer commented on #67
Got it, thanks.

[2020-03-27 15:56] phuonghuynh commented on #26
After playing arround and actual deploy a simple migrated controller to AWS Lambda, it taking about 40s spring context cold start.
So we can start new Spring Application and extract legacy components to it, remove some layer not good for micro service, i.e. ORM, Spring Workflow, Spring Themleaf, ... This new application need to quick start in about 2s
We need to finding the domain boundaries in a

[2020-03-27 21:37] bbehling commented on #26
Here is an interesting article. Perhaps some of these techniques could help

https://pattern-match.com/blog/2020/03/14/springboot2-and-aws-lambda-provisioned-concurrency/

[2020-03-28 08:45] phuonghuynh commented on #26
Nice article, the point is that it added a wating thread for 4seconds

I prefer we could do SpringBoot Cloud Function to evaluate the cold start time. We will remove some big layers as ORM, Workflow.. in the new application. We will extract legacy components and keep the application to be smallest.

[2020-03-28 08:46] phuonghuynh commented on #27
Can close this now since PR merged, https://github.com/ISO-TC211/iso-geodetic-registry/pull/66

[2020-03-28 08:46] #27 closed

[2020-03-29 15:12] florianesser opened #70 "Invalidated register items are not shown in item list"
Register items that were invalidated are not shown in the list of contained items.

Reported by @maccraymer (item 2k)

[2020-03-29 15:45] florianesser opened #72 "Confirmation dialogs use German "Abbrechen" instead of English "Cancel""
Reported by @maccraymer (item 5a)

[2020-03-29 16:20] florianesser opened #73 "Citation online resources are not displayed"
Asked by @maccraymer (item 5c):

[2020-03-29 16:27] florianesser commented on #73
@maccraymer The column `N` that contains the Citation online resources is currently ignored by the Excel importer. I think the reason is that there is not suitable attribute in ISO 19139's `CI_Citation` type where this information can be stored (see the definition of `CI_Citation_Type` in the [XML schema definition](https://schemas.isotc211.org/schemas/19139/-/gmd/1.0/citation.xsd)).

It might mak

[2020-03-29 16:31] florianesser opened #74 "The identifiers of parameters are not shown in Coordinate Operation parameter list"
Reported by @maccraymer (item 5d):

Coordinate Operation Parameter ID numbers not given with list of parameters in coordinate transformations and Coordinate Operation Methods. Only name of parameter is given. See, e.g., ID 473 WGS84-EGM96[2] – coordinate operation parameter names (SH coefficient and corr coeff files) given without their Registry IDs. Same for coordinate operation method ID 80.

[2020-03-29 18:15] florianesser opened #75 "What is the “Parameter type” classification given in transformations?"
Asked by @maccraymer (item 5e)

[2020-03-29 18:17] #70 closed

[2020-03-29 18:17] #72 closed

[2020-03-29 18:17] #74 closed

[2020-03-29 19:19] florianesser commented on #75
@maccraymer

The "parameter type" classification is required so that the application can fill the correct attributes in the data model.

The `CC_ParameterValue` class (see ISO 19111:2014, fig. 12) defines a union of eight different value attributes:

- `value` (Measure)
- `stringValue` (CharacterString)
- `integerValue` (Integer)
- `booleanValue` (Boolean)
- `valueList` (Sequence<Measure>)
- `inte

[2020-03-29 20:22] maccraymer commented on #70
I did not get an email notification for #71 that I assume addresses issues #70, 72, 74. Am I not supposed to?

Sent from my iPhone with autocorrect typos

On Mar 29, 2020, at 2:18 PM, phuong <notifications@github.com> wrote:

﻿

Closed #70<https://github.com/ISO-TC211/iso-geodetic-registry/issues/70> via #71<https://github.com/ISO-TC211/iso-geodetic-registry/pull/71>.

—
You are receiving this bec

[2020-03-29 20:33] florianesser commented on #70
@maccraymer You probably got a notification for #70 because I mentioned you there. I didn't mention you in #71.

If you'd like to get notifications for all issues in the repository, make sure to click the Watch button in the top right corner.

[2020-03-30 02:45] maccraymer commented on #73
I agree that a Citation item class needs to be created with all columns in the spreadsheet as attributes. However, if this cannot be created now, please import column N and append it to information in column M (Other Details) so it is at least in the Registry and displayed.

[2020-03-30 03:00] maccraymer commented on #67
It's going to take a while to get the open source license now that the pandemic response is the highest priority. However, there is an "Open Government Licence" for "information":

http://open.canada.ca/en/open-government-licence-canada

It might be a stretch to refer to software as information although, strictly speaking, I suppose it is *information* technology. I will need to talk to our IP peo

[2020-03-30 03:12] maccraymer commented on #17
Florian Esser has apparently fixed this bug and it should probably be closed? The link to the pull request that addresses this issues is at https://github.com/ISO-TC211/iso-geodetic-registry/pull/45

[2020-03-30 03:20] maccraymer commented on #75
The parameter type should remain in the database to conform to 19111 but can we suppress displaying it since the type it's rather obvious to a Registry user when the parameter value is displayed?

[2020-03-30 04:04] ronaldtse commented on #67
I think the Open Government License technically covers source code as well, so if the NRCan can get this license applied it should already work.

[2020-03-30 12:53] maccraymer opened #77 "Spreadsheet import error"
The spreadsheet import function gives a "504 Gateway Time-out" error when trying to load a single new transformation into the Registry. Because the spreadsheet importing worked in the software version running in Norway, it appears the error is related to it's installation at Ribose. This is a critical function as it is presently the only way we are able to enter multiple items into the Registry.

[2020-03-30 13:38] ronaldtse commented on #77
Got it. @maccraymer would you mind sharing the file so we can try reproducing it? Thanks.

[2020-03-30 15:30] bbehling commented on #26
I put together a POC project using Spring Boot Cloud Function. I'll get the functions in AWS Lamda this week and document it's performance.

[2020-03-30 17:48] maccraymer commented on #77
Here's an example. I went to the Coordinate Operation > Transformations part of the GUI and clicked the Upload Proposal button above the search box.
[Geodetic_Register_CONTENT_TEMPLATE - Canada 20200113.xlsx](https://github.com/ISO-TC211/iso-geodetic-registry/files/4404525/Geodetic_Register_CONTENT_TEMPLATE.-.Canada.20200113.xlsx)

[2020-04-08 06:41] ronaldtse commented on #77
@phuonghuynh can you help check this out? Thanks!

[2020-04-11 04:54] phuonghuynh commented on #77
@ronaldtse is there any document related to excel parser logic? the code failed at this row, but I not sure what should I fix it. The reason is that we don't have `itemIdentifier=95`

![Screenshot_3](https://user-images.githubusercontent.com/705510/79035684-223a5280-7beb-11ea-993d-5f0a905f710b.png)

[2020-04-11 11:19] maccraymer commented on #77
@phuonghuynh the item identifier is a reference to items in the existing Registry. It can be found in the public Registry at

[https://geodetic.isotc211.org/item/9cb38505-edbf-4cf3-a465-e067d3d96ee9](url)

and it can be found in the staging Registry at

[https://geodetic-staging.isotc211.org/item/9cb38505-edbf-4cf3-a465-e067d3d96ee9](url)

[2020-04-11 11:42] florianesser commented on #77
@phuonghuynh I don't think that this is caused by the Excel parser. I imported Mike's example successfully in my development setup by adapting the item identifier references (e.g. `95 - NTv2`) to the respective IDs in my database.

Could this be a configuration problem in the AWS setup that prevents/mishandles the `POST` request to `/register/{uuid}/proposal/upload` and leads to the `504 (Gateway

[2020-04-21 04:38] phuonghuynh commented on #77
Production site now should have this fix.

[2020-04-21 04:43] phuonghuynh opened #79 "Move Upload Excel function to lambda"
We should move this heavy operation to lambda as a first step in issue #26

We should add one more Spring profile to switch it, the lambda only enabled if `profile=aws` because we don't remove the current implementation for safe. We will use Spring Cloud function for this.

This function is used to handle upload in #77

@bbehling could you help? new -lambda-api should be a maven submodule in the p

[2020-04-21 05:56] phuonghuynh commented on #28
Closed since we will move to lambda step by step, we will work on devops stuff later

[2020-04-21 05:56] #28 closed

[2020-04-25 19:33] maccraymer commented on #79
What is the status of fixing the Excel importing function? China’s national geodetic agency is unable to add any of their reference systems until this is fixed. I am also unable to add some new Canadian information. We would appreciate if this could be given a high priority. Just a temporary fix would be fine for now. Thanks!

P.S. What does “lambda” mean?

[2020-04-25 19:46] maccraymer opened #80 "Update staging instance with bug fixes"
Please update the staging instance of the Registry with Florian’s bug fixes so I can test that all the issues have been resolved. Please do **not** update the public instance until I have finished testing the staging instance.

The ISO Control Body would appreciate if this could be given the **highest priority** right now as there are errors in the current Registry content that we are unable to co

[2020-04-26 05:07] ronaldtse commented on #80
@maccraymer sorry we had to take the time to finish testing Florian's bug fixes with the existing database in order to deploy. Most issues are now verified.

@phuonghuynh will be deploying staging once we are able to do so.

[2020-04-26 07:10] phuonghuynh commented on #80
Staging updated to "master" branch now, which contains fixes from florianesser

[2020-04-26 11:53] phuonghuynh commented on #79
@maccraymer
The fix for issue #77 has been deployed and tested on production and staging also, you can verify it again. Here is my record [link](https://screencast-o-matic.com/watch/cYfOXHA5nl) for production fix,

Aws Lambda is a serverless framework that we will split our backend to it as described in this issue, #26. This progress won't impact to the current development progress.

[2020-04-29 16:28] bbehling commented on #79
@phuonghuynh Yes, I'll help on this.

[2020-05-08 02:54] maccraymer commented on #17
This bug is still present in the staging instance. When I tried to supersede Vertical Datum item 118 Canadian Geodetic Vertical Datum of 2013 (Canadian Gravitmetric Geoid of 2013), I got an HTML 400 error (Bad Request) upon submitting the successor item. I have attached a PDF of the error message.

[2b Supercession HTML Error.pdf](https://github.com/ISO-TC211/iso-geodetic-registry/files/4596751/2b

[2020-05-08 07:41] phuonghuynh commented on #17
@maccraymer I did very simple "supersede" action for item 118 by filled-in only required data on the Staging site but I did not get error, could I have data that you used to get this error? It will help me deep dive into this error.

![Screenshot_7](https://user-images.githubusercontent.com/705510/81383144-bab7ea00-9139-11ea-99ab-5bc3f976760b.png)

[2020-05-09 14:49] maccraymer commented on #17
The HTTP Status 400 error occurrs only with Safari. Chrome and Firefox work fine. I suggest to keep this bug issue open to eventually resolve the incompatibility with Safari but give it a lower priority. Thanks.

[2020-05-11 04:55] ronaldtse opened #82 "Pre-filling the successor item form for the Succeed action"
From @maccraymer :

This is the single most important thing we need as users of the Registry. Making corrections to existing Registry items is practically impossible without this. It simply takes far too long to manually copy/paste entries from the original item to the succeeding item just to correct one piece of information. The manual process is also prone to errors. I hope this enhancement will

[2020-05-11 04:56] ronaldtse opened #83 "500 error in "Details action""
From @maccraymer :

Selecting the Details action for proposals in the Submitting Organizations & Register Manager areas of the Registry management (after saving or after being returned by the CB) gives a HTTP Status 500 error.

It works fine in the Control Body area.

It’s not a big problem that the RM can’t view the proposal but it is for the Submitting Organization. If a proposal has an error an

[2020-05-11 04:57] ronaldtse commented on #83
@maccraymer we are attempting to fix this issue in #81 ,  will investigate and get back.

[2020-05-11 06:35] ronaldtse opened #84 "400 error with Safari when performing supercession"
From @maccraymer :

[2020-05-11 06:36] ronaldtse commented on #84
As per @maccraymer , this bug only occurs on Safari, and works fine on Firefox / Chrome.

[2020-05-13 09:33] florianesser commented on #83
@maccraymer @ronaldtse I'll take a look at this issue tonight. Will let you know what I find out here.

[2020-05-13 09:36] florianesser commented on #82
@maccraymer @ronaldtse I'll look into this tonight and let you know if there is a short-term solution. I have implemented that functionality in other installations (i.e. the [GDI-DE Registry](https://registry.gdi-de.org)) and think that a port to the Geodetic Registry will not be too hard.

[2020-05-13 22:46] florianesser opened #86 "Make Supersession proposals editable"
Supersession proposals can't be edited after they have been saved, submitted or returned to the submitter (even though the GUI suggests otherwise sometimes).

Making Supersessions editable requires the following enhancements:
- [ ]  allow adding further superseding items
- [ ]  allow removing superseding items
- [ ]  allow editing superseding items
- [ ]  allow editing and saving of the Supersessi

[2020-05-13 22:57] florianesser commented on #83
@maccraymer @ronaldtse I've slightly modified and extended @phuonghuynh 's PR and submitted my changes as a new PR.

The changes should fix the HTTP 500 problem when opening the Details view for Supersessions. It will, however, not be possible to actually edit Supersessions that were e.g. returned to the submitter by the RM or CB. Allowing proper editing of saved, submitted or returned Supersessio

[2020-05-13 22:59] florianesser commented on #82
@ronaldtse @maccraymer I successfully ported the solution that I did for GDI-DE Registry. I'll create a PR once the change in registry-base is merged.

[2020-05-15 04:45] #82 closed

[2020-05-15 07:21] #84 closed

[2020-05-15 09:09] phuonghuynh commented on #83
@maccraymer @florianesser staging has been updated with this fix.

[2020-05-15 09:26] phuonghuynh commented on #84
@maccraymer staging updated with this fix already

[2020-05-17 14:09] maccraymer opened #89 "500 error in Clarify action"
Selecting the Clarify action for an item results in a "HTTP Status 500 - Internal Server Error". This bug is quite urgent to fix as I need to use this action to correct typos in the current Registry content for the Control Body meeting on Wed May 20.

[2020-05-17 14:41] maccraymer opened #90 "Incorrect formatting of page number for information sources"
When there is only a single page number for an information source, it is incorrectly displayed as a real number with one decimal. I suggest to treat all page numbers as text strings to ensure both single page numbers (e.g., 9) and page number ranges (e.g., 9-14) are displayed correctly.

[2020-05-17 14:43] maccraymer commented on #90
For an example, see the 1st & 3rd information sources for item 140 - Canadian Geodetic Vertical Datum of 2013 (Canadian Gravitmetric Geoid of 2013a).

[2020-05-17 14:51] maccraymer opened #91 "Download PDF provides incomplete information"
Information sources and management information.are missing from the PDF generated by the "Download PDF" button at the top-right of the each item's details page.

[2020-05-17 15:24] maccraymer commented on #49
To answer @florianesser, yes, the expected outcome would be to have changes to an extent item affect all register items that reference that extent.

[2020-05-17 15:41] maccraymer commented on #50
It may be sufficient in the near term to select existing citations from a "pick list" the same way geographic extents are presently handled. There are a couple of hundred citations but searching/scrolling such a list can be sped up by typing the first few letter/words of the citation title to quickly skip to the desired citation to select as done with extents. After using this method for a while,

[2020-05-17 15:52] maccraymer commented on #50
The drawback to using a "pick list" of existing citations is that corrections to an existing citation do not get automatically applied to all items using that citation. I still think the goal should be to eventually implement extents and citations as separate items together with the 19111:2019 enhancements. However, it could take some time before funding sponsors for that work can be found so, in

[2020-05-17 16:11] maccraymer opened #92 "Re-generating all Registry content"
@florianesser, if the spreadsheet that was used to populate the current Registry were to be imported Into a new instance, would it give the exact same Registry with all items being assigned the same item numbers? And if corrections were made to some values in the spreadsheet contents (but exact same number and order of items were maintained), would that also result in the same item numbers for all

[2020-05-18 02:44] maccraymer commented on #83
Thanks Florian and Phuong! Getting no 500 error now. Can this issue be closed?

[2020-05-18 02:47] maccraymer commented on #80
Thanks Ron & Phuong! Can this issue be closed? I probably should have just emailed you instead of making an “issue” out of this request.

[2020-05-18 08:27] florianesser commented on #89
@phuonghuynh I've identified the issue and will submit a PR after https://github.com/ISO-TC211/registry-base/pull/12 is merged.

[2020-05-18 08:39] maccraymer commented on #77
I get a new HTTP Status 500 error when importing an Excel spreadsheet for Korea (attached).

[Geodetic_Register_CONTENT_TEMPLATE_v2_Korea_20200518.xlsx](https://github.com/ISO-TC211/iso-geodetic-registry/files/4643006/Geodetic_Register_CONTENT_TEMPLATE_v2_Korea_20200518.xlsx)

However, I am able to import a Chinese spreadsheet with similar information (attached).

[Geodetic_Register_CONTENT_TEMPLA

[2020-05-18 08:57] ronaldtse commented on #77
@phuonghuynh could you help have a look at what error this is? Thanks!

[2020-05-18 09:26] phuonghuynh commented on #89
@florianesser merged

[2020-05-18 09:55] phuonghuynh commented on #77
Yes, checking

[2020-05-18 11:01] florianesser commented on #92
@maccraymer No, the item identifiers are not guaranteed to be the same for every item in a new import. The only one that is guaranteed is that the `Unity` unit of measure will get the identifier `1`. After that, the imported items are grouped by their item class and processed in the order [defined here](https://github.com/ISO-TC211/iso-geodetic-registry/blob/caffd06e889750bc1db37534b8ac039c26dd993

[2020-05-18 13:30] maccraymer commented on #92
@florianesser, I was not thinking of reimporting the spreadsheet as a way of regularly updating the registry but rather to recreate the original registry one time with the same spreadsheet as originally used. The spreadsheet would have exactly the same items in exactly the same order except some of the attributes would be corrected or revised. For example, appending the content of the “online reso

[2020-05-18 18:13] #89 closed

[2020-05-18 19:25] maccraymer commented on #80
@ronaldtse & @phuonghuynh, can you please update both the public & staging instances of the registry with the latest master that includes all closed bug fixes and enhancements. The currently open issues are not as urgent and should not preclude the CB from starting to update the Registry content after getting an answer to my last comment in #92.

And should we keep this issue open for me to period

[2020-05-19 03:24] phuonghuynh commented on #83
Yes, we can close it

[2020-05-19 03:24] #83 closed

[2020-05-19 04:14] phuonghuynh commented on #80
@maccraymer staging has been updated with master, could you help to check it before I deploy master to public server?

[2020-05-19 11:29] maccraymer commented on #77
Doh! I just realized what this error is coming from. The spreadsheet was an old one (just copied the contents into the new spreadsheet template). I see now that it contains references to items in the master spreadsheet, not the actual Geodetic Registry that has since been put online! I will correct all the references to existing items to use the actual Registry item numbers (not those form the mas

[2020-05-19 11:33] maccraymer commented on #77
Well...another doh moment that contradicts the previous doh moment! I looked further and see that the Korean spreadsheet IS using references to items numbers in the current online Registry. I will have to dig deeper into why this spreadsheet is failing to import unless @phuonghuynh can find it first ;-)

[2020-05-19 11:58] maccraymer opened #94 "Make citations editable in Clarifications"
When selecting the Clarify action for an item, all information is editable except the citations. These should also be editable in order to correct minor things like typos.

[2020-05-19 12:40] maccraymer opened #95 "500 error in Details action after acceptance of clarification by RM"
Sorry for reporting another urgent bug.
After the Register Manager accepts a submitted clarification action for an item, the Details action for that item gives a HTTP Status 500 error in either the Submitting Organization, Register Manager or Control Body folders. No one is able to view the item's details once the RM accepts and the CB cannot evaluate the proposal. The Details action works before

[2020-05-19 13:54] phuonghuynh commented on #80
@maccraymer public site has been deployed

[2020-05-19 15:37] maccraymer commented on #80
@phuonghuynh I checked the staging instance and found another 500 error using the Details action after the RM accepts a clarification proposal (see #95).

[2020-05-19 16:52] phuonghuynh commented on #95
@maccraymer @ronaldtse PR sent, #96 , waiting for review

[2020-05-19 17:51] florianesser commented on #94
@maccraymer This is not a simple change, unfortunately. The clarification mechanism was originally developed so that only text attributes of the item itself can be changed. Citations, however, are implemented in their own class `CI_Citation` which is referenced from the item and, therefore, can't be edited as part of a clarification.

While this could certainly be implemented, I'd suggest that we

[2020-05-19 17:59] florianesser commented on #92
@maccraymer Ah ok, I agree that this would be possible, given that no change has been made to the registry content since the original import.

I don't think this will work as the item number are not guaranteed to be exactly the same when doing the import again. However, I think there's another way: we can apply the revisions directly to the database. That way, I think, you will get the desired res

[2020-05-19 18:11] phuonghuynh commented on #95
@maccraymer staging deployed this fix, could you help to confirm?

[2020-05-19 18:14] maccraymer commented on #95
Will do it now. Isn't it 2 am your time?

[2020-05-19 18:34] maccraymer commented on #95
You are getting closer! The Details action after Register Manager acceptance now displays the item information but the links to the information sources (citations) on that page gives empty windows instead of the citation information.

[2020-05-19 18:51] maccraymer commented on #94
I agree. If we can implement #50 instead, that should make citations editable as separate items and be a better solution all around. I was just hoping there might be a simpler way in the interim. I'll close this issue.

[2020-05-19 18:51] #94 closed

[2020-05-19 18:53] maccraymer commented on #92
Hmm...I'd like to try this out with the staging instance to see what happens.

[2020-05-19 19:09] florianesser commented on #95
@maccraymer I couldn't reproduce that locally when doing a clarification on a Geodetic CRS. What item are you clarifying?

[2020-05-19 20:08] maccraymer commented on #95
I was clarifying a vertical datum item (#140). It should be sitting in the Submitting Organization folder for the Control Body as being returned by the CB.

[2020-05-19 20:16] maccraymer commented on #95
I'm working with the staging instance. I just resubmitted the proposal from the CB's Submitting Organization folder and accepted it in the Register Manager's folder. It's now in the CB's folder waiting for a decision. When I select the Details action from any of the folders, all looks okay and I get the item's information page but the information source links give a blank window. At previous steps

[2020-05-19 20:24] maccraymer commented on #95
Same thing happens for a Geodetic CRS (item # 205: IGS08 - LatLonEHt). It's also sitting in the Control Body folder along with the Vertical Datum example (item # 140: Canadian Geodetic Vertical Datum of 2013 (Canadian Gravimetric Geoid of 2013a)).

[2020-05-19 20:32] florianesser commented on #95
I don't think that I have a user in either the staging or the production instance.

[2020-05-19 20:35] maccraymer commented on #95
I'll create one for you.

[2020-05-19 20:40] maccraymer commented on #95
Created a CB user in the staging instance with all roles and Admin privileges. Will email you the login.

[2020-05-19 21:08] florianesser commented on #95
Thanks, @maccraymer , I could reproduce it now and created a PR.

[2020-05-19 21:20] maccraymer commented on #95
Thanks @florianesser! I guess there's no more time left in the contract so I greatly appreciate you following up on this!!

[2020-05-20 06:47] #95 closed

[2020-05-20 12:51] ronaldtse commented on #80
This should have been resolved.

[2020-05-20 14:58] phuonghuynh commented on #80
@ronaldtse this issue should not be close to let maccraymer periodically request updates for servers.

[2020-05-20 14:59] phuonghuynh commented on #79
@bbehling any luck ?

[2020-05-22 04:37] maccraymer commented on #5
I still think we should have acknowledgments of contributors on the Home/Welcome page so that all users see it. I don't think many users will go to an About page unless looking for background information. The acknowledgment on the Home page only needs to be something at the bottom of the page similar to the current "Powered by [Ribose logo]". That is, "Sponsored by" followed by the sponsor's logos

[2020-05-22 04:51] maccraymer opened #98 "500 error when displaying WKT & GML"
In the Details view of CRS items, the "Show WKT" & "Show GML" links that top-right of the page give an HTTP Status 500 error when selected.

[2020-05-22 04:57] maccraymer opened #99 "Update WKT output for ISO 19162:2019 compliance"
Update WKT output of CRS items for compliance with the new ISO 19162:2019 (based on the new ISO 19111:2019).

[2020-05-22 05:04] maccraymer opened #100 "Update GML output for ISO 19136-1:2020 compliance"
Update GML output of CRS items for compliance with the new ISO 19136:2020 (based on the new ISO 19111:2019).

[2020-05-24 03:54] maccraymer opened #101 "Incomplete URL in email invitations for discussions"
When sending email invitations to discussions of a proposal after selecting the Discussion action (by either the Submitter before submitting the proposal or by the Control Body after submission), the URL for the link to the discussion is incomplete in the email. The "https://" is missing from the beginning of the URL.

[2020-05-24 03:55] maccraymer commented on #101
This is a similar bug to that in close issue #25.

[2020-05-24 04:24] maccraymer opened #102 "500 error in Delete action for returned proposals"
See PR #36. The HTTP Status 500 error has returned when selecting the Delete action for a returned proposal in the Submission Organization folder. The only way for a submitter to delete a returned proposal is to submit it again and then select the Withdraw action.

[2020-05-24 04:35] maccraymer opened #103 "Undefined error references for incomplete transformation proposals"
The error message when saving incomplete proposals does not properly reference missing parameter units for a transformation. All missing fields are referenced as "undefined" (see attached PDF). The missing fields are also not highlighted as done for other missing information.

[Incomplete Parameter Entry Error.pdf](https://github.com/ISO-TC211/iso-geodetic-registry/files/4672951/Incomplete.Paramet

[2020-05-24 09:05] florianesser commented on #102
Thanks for the report, @maccraymer ! What item class did the item have that you tried to delete? This information is essential because behaviour can be different for different item classes.

It would be helpful if you could include that info in all your item-related bug reports (or even a link to a reproduction case in the staging registry if that's feasible).

[2020-05-25 03:30] maccraymer commented on #101
I can copy/paste the link into a web browser and it will automatically add the missing https:// but none of my mail clients (on MacBook, iPhone and iPad) can use the link.

By the way, while in my Mac mail client (Apple Mail,) when I copy the link (right- or ctrl-click on it and select Copy Link) the URL copied to the clipboard is:

x-webdoc://1FC18435-7525-4525-8EDB-1FA096A61D4D/geodetic-staging.

[2020-05-25 03:40] maccraymer commented on #102
Sorry for not posting the details of what generated the error. I had tried a few different items:

Clarification of geodetic CRS (item 205 IGS08-XYZ)
Clarification of vertical datum (item 140 CGVD2013a)
Addition of new transformation (null position vector transformation)

However, when I used the Delete action today, I no longer get the error!! I have no idea why I was getting it Saturday night ju

[2020-05-25 03:40] #102 closed

[2020-05-26 02:40] ronaldtse commented on #98
Ping @phuonghuynh can you help fix this?

[2020-05-26 02:42] ronaldtse commented on #98
e.g.
human-readable: https://geodetic.isotc211.org/item/83f9b452-ab4b-43de-923c-e317518f036a

GML: https://geodetic.isotc211.org/item/83f9b452-ab4b-43de-923c-e317518f036a/gml
=> 500 error

[code]

[2020-05-26 05:02] phuonghuynh commented on #98
Yep, @ronaldtse

[2020-05-26 19:38] RogerLott commented on #62
The proposed changes properly reflect the 19111:2019 model. However in implementing the revisions in EPSG, IOGP noted that vertical CRSs are not the only CRS subtype that may be defined through a coordinate transformation. For example ETRF2014 geodetic CRS is defined through a transformation from ITRF2014. Arguably so too is geodetic CRS NAD83(CSRS)v7. EPSG is generalising the geoidModel associati

[2020-05-26 19:39] RogerLott commented on #61
See @RogerLott comment against issue #62.

[2020-05-26 20:13] RogerLott commented on #100
ISO 19136:2007 clause 12 covers CRS gml based on 19111:2007 and the GML 3.2.x schema are based on that. Neither OGC or ISO have any plans to update it for the 19111: 2019. 19136:2020 definitely will not include any changes to clause 12. The only gml schema addressing the 19111:2019 revision of which I am aware is that for EPSG export of gml. There is an out of date download available at https://ww

[2020-05-26 21:27] maccraymer commented on #100
@RogerLott, thanks for the clarification! I see now there's a statement in the Intro saying "This document makes reference to ISO 19107:2003 and ISO 19111:2007 (withdrawn standards, replaced by 2019 versions) because this edition of ISO 19136-1 is still an XML implementation of the previous edition of ISO 19107 and other standards".

For now I've changed the title of this action item to "Update GM

[2020-05-27 14:06] RogerLott opened #104 "Create new Scope item class"
Issue #51 implements the 19111:2019 modelling of Usage, where a usage is a pairing of Scope and Extent. Issue #49 implements Extent as an item class. Consideration should be given to also make Scope an item class. However it should be noted that most if not all of the scopes entered into the ISO registry to date have been "Spatial Referencing". If this is the only scope to be documented in the ISO

[2020-05-27 14:31] maccraymer commented on #104
Thanks for pointing this out, Roger. We can discuss this at the CB meeting as well.

I’ve labelled this issue as an enhancement and assigned it to the to-do list of the ISO 19111:2019 compliance project.

[2020-05-30 06:56] maccraymer commented on #80
Please update both the public and staging instances with the latest master. The open bug issues are not critical for revising the existing content. Thanks!

[2020-05-30 07:21] maccraymer opened #105 "item identifier-based URL access"
In issue #2 of iso-geodetic-register-docs (https://github.com/ISO-TC211/iso-geodetic-register-docs/issues/2), the following item identifier-based URL access to Geodetic Registry contents is described:

https://registry.isotc211.org/register/geodetic/items/<itemIdentifier>

This URL no longer works. It gives the following error message. Has the URL pattern changed?

404 Not Found

Code: NoSuchKey
M

[2020-05-30 07:49] phuonghuynh commented on #98
Update: Checked this, fixed the WKT error, but GMT still happening. This error only happens on aws env, local is good. I still investigating the error of GMT

[2020-06-02 07:29] maccraymer commented on #80
Just wondering when you will be able to update both the public and staging instances. A couple of CB members want to correct some of their current content before the end of the week. Thanks.

[2020-06-02 08:09] ronaldtse commented on #80
@maccraymer we will be updating this today. Thanks!

[2020-06-02 09:00] phuonghuynh commented on #80
Updated both staging+production to master githash `67180d4`

[2020-06-02 10:59] ronaldtse opened #107 "Add Kartverket and NRCan as "Sponsors" to footer"
We should add Kartverket and NRCan as "sponsors" in the footer to recognize their contributions.

https://upload.wikimedia.org/wikipedia/commons/6/6c/Kartverket_logo_upright.svg

![image](https://user-images.githubusercontent.com/11865/83512674-25730000-a503-11ea-993e-23cb2034ebac.png)

[2020-06-02 13:08] ronaldtse opened #108 "Display git version for easier identification"
@phuonghuynh can we display git hash at the footer so we know what version is currently deployed?

[2020-06-02 13:19] maccraymer commented on #108
Thanks for suggesting this Ron. I was thinking the same thing - some kind of software version number along with the last revised time stamp of the database.

Sent from my iPhone with autocorrect typos

On Jun 2, 2020, at 9:09 AM, Ronald Tse <notifications@github.com> wrote:

﻿

@phuonghuynh<https://github.com/phuonghuynh> can we display git hash at the footer so we know what version is currently d

[2020-06-02 16:24] phuonghuynh commented on #108
@ronaldtse @maccraymer  yes, already did

![Screenshot_3](https://user-images.githubusercontent.com/705510/83544405-05096c80-a528-11ea-8546-63df46bceb74.png)

[2020-06-03 02:26] ronaldtse commented on #108
Thanks @phuonghuynh !

[2020-06-03 02:28] ronaldtse commented on #108
@phuonghuynh but the current production still shows this?
<img width="271" alt="Screen Shot 2020-06-03 at 10 28 12 AM" src="https://user-images.githubusercontent.com/11865/83588885-ee453300-a584-11ea-8cb4-977309548bcc.png">

[2020-06-03 03:55] maccraymer commented on #108
The date/time stamp at the bottom every Registry web page was supposed to be the date the *database* was last updated, not the software version? I thought you were going to add the software revision along with this, not replace it. I think we need to provide a version identifier for both the software and the database. My suggestion is:

Software revision: yyyy-mm-ddThh.mmZ, Database last updated:

[2020-06-03 06:55] ronaldtse commented on #108
Sorry got confused -- this sounds good.

Don't think so at the moment. Any suggestions?

[2020-06-06 06:15] maccraymer opened #109 "Unable to set role for user after changing his organization"
After changing a user's organization I get the following 500 error when trying to change the user's permissions in his new organization.

HTTP Status 500 – Internal Server Error
Type Exception Report
Message Request processing failed; nested exception is org.springframework.dao.DataIntegrityViolationException: could not execute statement; SQL [n/a]; constraint [uk_5ad8yawbym2uolno93wvhymua]; neste

[2020-06-06 06:32] maccraymer opened #110 "Sponsor of item amendments not shown"
The sponsor organization of new items added to the Registry is  displayed in the Management Information tab when viewing the item'ss details. However, the sponsor organization of any amendments to an item (clarification, supersession or retirement) is not displayed. It is presently unknown who has made the amendments. The sponsor organization should be given for all amendments in the Management In

[2020-06-06 06:38] maccraymer commented on #110
For an example, see item 118 (Canadian Geodetic Vertical Datum of 2013). A PDF of the management information tab is attached.

[No_Ammendment_Sponsor.pdf](https://github.com/ISO-TC211/iso-geodetic-registry/files/4739443/No_Ammendment_Sponsor.pdf)

[2020-06-07 15:39] maccraymer commented on #105
Closed by ISO-TC211/iso-geodetic-register-docs#2.

[2020-06-07 15:39] #105 closed

[2020-06-10 10:00] ronaldtse opened #111 "Should display submitter name, not only the organization's name"
In today's Control Body meeting, @maccraymer suggested that the proposals should also display the submitters name, not only the organization's name.

[2020-06-11 09:19] phuonghuynh commented on #98
Found reason that causes 500 error in GML view, Eclipse EMF Framework have issue with Linux server when run with Java8

When I downgrade to previous version of Isoregistry, java7, it just works

cc @ronaldtse @florianesser

[2020-06-15 01:55] maccraymer opened #112 "500 error when deleting user in public registry"
As the point of contact for the Control Body organization, I am unable to delete the user "Test User" from that organization. I get an "HTTP Status 500 - Internal Server Error".  However, I am able to delete users in the staging instance.

[2020-06-15 01:59] maccraymer commented on #80
Please update the public registry to the same version as the staging instance. The staging instance appears to be fixed for GML output but the public registry is still giving the 500 error.

[2020-06-15 05:55] phuonghuynh commented on #80
Yes, i will revert changes made for Java8 to Java7, this will fix Linux server GML view

[2020-06-15 10:06] maccraymer commented on #80
Thanks @phuong! Maybe Java7 will also fix the new issue #112 I just reported (500 error when deleting a user). I only get the error with the public instance, not the staging one. Let me know here when you have reverted and I will check if the delete error is still present. Thanks.

[2020-06-15 17:23] phuonghuynh commented on #98
@maccraymer staging has been updated. Could you help to check this issue on Stating instance before deploying to Production instance.

[2020-06-24 17:33] bbehling commented on #79
I've been pulled off to work on some other high priority projects, so
haven't had the bandwidth to work on this yet.

On Wed, May 20, 2020 at 8:59 AM phuong <notifications@github.com> wrote:

[2020-07-07 04:47] ronaldtse commented on #98
@phuonghuynh can you help deploy to production? Thanks.

[2020-07-27 04:04] maccraymer commented on #17
This appears to have been fixed. I can no longer reproduce the error in Safari. I have closed this issue. Thanks.

[2020-07-27 04:04] #17 closed

[2020-07-27 04:12] maccraymer opened #117 "RM & CB comments not returned to submitter"
When the RM or CB returns proposals to the submitter, the RM's or CB's comments in the return-to-submitter confirmation as to why the proposal was returned are not provided to the submitter. Same for proposals rejected by the CB. The software should at least provide an email notification to the submitter that the proposal was retuned or rejected with the RM's or CB's comments.

[2020-07-27 04:24] maccraymer opened #118 "Revising/adding citations in clarification proposals"
@florianesser is possible to add the capability to revise old or add new citations when clarifying a proposal? Is it possible to do this for supersessions but supersessions are really adding a new item rather than editing an existing item.

[2020-07-27 04:32] maccraymer opened #119 "Add references between items in Proposal Groups"
References between items in a Proposal Group are not shown. Need to somehow show these item references in order to verify whether items are correctly referencing other items in the group. Could special temporary item numbers be assigned to proposed items?

[2020-07-27 05:20] maccraymer opened #120 "Enable editing of geographic extent in clarifications"
It is not presently not possible to edit geographic extents in clarification proposals. The entries are all greyed out. Enable editing of the entries.

[2020-07-27 05:38] maccraymer opened #121 "CRS attributes not displayed in Proposal Group"
For a CRS item proposal imported as part of a proposal group (e.g., the proposal "geodetic_register_content_template_v3_china_20200519.xlsx" presently in the Submitter Organization folder), the Details action does not display the Datum and Coordinate System specified for the CRS. The information is given in the WKT output and so have been imported.

[2020-07-27 05:39] maccraymer opened #122 "Datum attributes not displayed in proposal groups"
For a datum item proposal imported as part of a proposal group (e.g., the proposal "geodetic_register_content_template_v3_china_20200519.xlsx" presently in the Submitter Organization folder), the Details action does not display the ellipsoid and the prime meridian specified for the datum. The information is given in the WKT output and so have been imported.

[2020-07-27 05:50] maccraymer opened #123 "Unable to add proposal to a proposal group"
When trying to add a new item proposal to a proposal group using the "Add to group" action, a dialog window appears with an undefined empty box with a small down arrow on the right. I assume this is a drop down menu that should display any existing groups. Clicking in the box results in a "Searching" message that never goes away, making it impossible to add an item to an existing group or to creat

[2020-07-27 06:08] maccraymer opened #124 "Aliases displayed in duplicate when saving/submitting proposals"
Aliases are displayed in duplicate after saving or submitting clarification proposals. The duplicates disappear after the proposal is approved and entered into the Registry.

[2020-07-27 07:01] maccraymer commented on #118
I noticed I can edit the citation for parameter values in transformation items. Hopefully, it is possible to edit them in the main item as well.

[2020-07-27 22:23] maccraymer opened #125 "Japanese Geodetic Datum 2011 entry corrupted?"
The Japanese Geodetic Datum 2011 (JGD2011) entry in the public and staging Registry (item 138) appears to be corrupted. When I create and save (or submit) a simple clarification of this item, I get an HTTP Status 500 – Internal Server Error when trying to display the details of the original item in the Registry. The beginning of the error message is:

Type: Exception Report

Message: Request proce

[2020-07-27 22:27] maccraymer commented on #80
The staging registry appears to be corrupted after much testing of different kinds. Can you please reinstall the database. Please install the current public database for the staging registry so we have an up to date version. But please keep a backup of the older versions in case we need to revert.

The public registry may also be corrupted (at least the one item 138). What backups are available fo

[2020-07-28 03:35] phuonghuynh commented on #80
@ronaldtse should we implement cloudwatch for this DB backup action?

[2020-07-28 06:06] ronaldtse commented on #80
@phuonghuynh yes, let's:

1. create a cloudwatch periodic job to perform the backup from production (we already have this, right)?
2. update the staging site to restore the production data using cloudwatch periodically (every sunday?)

[2020-08-27 04:26] maccraymer opened #126 "Correct typo in publisher of information source #1 of ISOGR item #178"
Submitted via the general ISOGR feedback mechanism
Submitted by: 'Thierry GATTACCECA' thierry.gattacceca@ign.fr
Time: '11/26/2019 23:09:24'
Comments:

For the information source #1 of datum ETRF2000, the spelling of "Institute National" is wrong and should be "Institut National"

[2020-08-28 20:52] maccraymer opened #127 "Invalidation of item not recorded in item's Management Information"
Invalidating an item does not give an entry in the Management Information tab about the invalidation action. Clarification gives a entry titled "Item clarification", Supersession gives an entry titled "Item supersession" and Retirement gives an entry titled "Item retirement". Invalidation should also give an entry similarly titled "Item invalidation".

[2020-09-03 01:51] maccraymer opened #128 "Invalid 3D CRSs for AGD66 (item 381) & AGD84 (item 295)"
AGD66 & AGD84 are classic 2D systems and don’t have 3D CRSs (items 381 and 295). These CRSs are incorrect and should be removed by invalidation.

[2020-09-03 01:53] maccraymer commented on #128
Items 381 & 295 removed by invalidation.

[2020-09-03 01:53] #128 closed

[2020-09-03 01:57] maccraymer opened #129 "Incorrect version number in coordinate transformation names of items 534, 695, 705 (GDA94)"
Incorrect version number in names of the following coordinate transformations:

AGD66-GDA94[v1] (Item 705)
AGD84-GDA94[v1] (Item 695)
AGD84-GDA94[v2] (Item 534)

Add "GA" in front of version number for consistency with value of Operation Version attribute.

[2020-09-03 02:01] maccraymer opened #130 "Add new ATRF2014 reference frame, CRSs and transformation"
ATRF2014 is identical to ITRF2014 (densification in Australia). Define as a new reference frame (datum) identical to ITRF2014 with corresponding CRSs and a null 14 transformation from ITRF2014.

[2020-09-03 13:26] ronaldtse opened #131 "(URGENT) Crash when rendering "Japanese Geodetic Datum 2011""
In today's ISO GR Control Body meeting, the following error was observed (triggered by @maccraymer at approval of the datum).

Steps:

1. Go to https://geodetic.isotc211.org/register/geodetic/GeodeticDatum
2. Filter for "Japan"
<img width="919" alt="Screen Shot 2020-09-03 at 9 09 10 PM" src="https://user-images.githubusercontent.com/11865/92118963-b8387900-ee29-11ea-9b88-4e015d1022e6.png">

3. Cli

[2020-09-03 13:31] ronaldtse commented on #131
Looks like the exact error is:

Exception evaluating SpringEL expression: "pmi.fromJson('{"aliases":["JGD2011"],"definition":["Japanese Geodetic Datum 2011"],"anchorDefinition":["Equivalent to ITRF2008 at epoch 2011.395 (2011-05-24, 12:00 UTC) in Northern Honshu area. Fundamental point: Tokyo-Taisho, latitude: 35°39'29.1572\"N, longitude: 139°44'28.8869\"E (of Greenwich). Equivalent to JGD2000 els

[2020-09-03 13:36] ronaldtse commented on #131
@phuonghuynh The immediate way to fix this is to fix the data.

However we want to fix the mechanism so that this doesn't occur again. This piece of JSON looks like to be generated and then re-parsed as JSON, and there's something wrong with the escaping mechanism here.

[2020-09-04 15:34] maccraymer commented on #131
Are the the \"N and \"E present in the anchorDefinition for the JGD2000 entry (item #111). That entry doesn't crash. Both of these entries were imported via the spreadsheet.

Some further testing...

1) The staging registry gives the same error for JGD2011 (item 138 in both registries). I noticed that when the item is submitted to the Control Body, the Details button displays the entry properly (t

[2020-09-07 07:07] phuonghuynh commented on #131
Interesting issue ^

[2020-09-07 07:46] ronaldtse commented on #131
From @phuonghuynh:

[2020-09-08 09:16] phuonghuynh commented on #131
@ronaldtse the fix has been deployed to prod server

[2020-09-08 09:41] ronaldtse commented on #131
Thanks @phuonghuynh ! I can see the page now loads properly.

@maccraymer can you help verify? Thanks!

[2020-09-08 10:55] maccraymer commented on #131
@ronaldtse & @phuonghuynh thanks for fixing this right away!! The page loads proper now on my iPhone, iPad, Mac mini and MacBook all using Safari & Chrome, and on my office Windoze desktop using Internet Exploder & Chrome.

@phuonghuynh just out of curiousity, what was causing the problem and how did you fix it?

[2020-09-08 14:31] phuonghuynh commented on #131
@maccraymer Spring EL evaluator failed to parse the data return in this case, special characters not supported in the framework. To fix it, I moved the function into java code to remove Spring EL processing for this case.

[2020-09-10 10:47] #131 closed

[2020-09-25 15:48] phuonghuynh opened #133 "Confirm staging server DB"
@maccraymer

I got a request from you as bellow, @ronaldtse fwd to me.

I have updated java code on Staging site to be the same as the one on Production site. Could you confirm what should I do for the database for your request? Do you want to import DB from production site into staging?

[2020-09-25 16:47] ronaldtse commented on #133
This is in progress.

[2020-09-25 18:33] maccraymer commented on #133
Just to be clear, I want to reproduce the public instance on the staging instance as it was last week (e.g., Sep 18), complete with the approved content and the proposed content waiting for approval. This is required for some testing of the registry prior to adding a new item proposal on Tuesday Sep 22, which created another HTML error (the proposal was deleted and resubmitted via spreadsheet impo

[2020-09-25 18:49] ronaldtse commented on #133
Thanks @maccraymer for the clarification -- @phuonghuynh is currently trying to rewind the data to the appropriate date.

With regards to the Java code it meant that the staging and public instances have been "synched" in terms of software version used. It is important to have the staging and public instances synced in version if the purpose is to test the production software version (with product

[2020-09-25 19:14] phuonghuynh commented on #133
@maccraymer @ronaldtse  we have a production database backup file on date Sep 21, so I have imported staging database using that backup file.

[2020-09-25 19:19] maccraymer commented on #133
Thanks @ronaldtse for the information about the java code and for making sure the software version is the same for both the public and staging instances. I had actually thought this was being done already whenever updates were made to the public instance but I now see that it was only being done on an as requested basis (see issue #80). In retrospect, I think the staging software should always be

[2020-09-25 19:22] maccraymer commented on #133
@phuonghuynh, the Sep 21 version of the production database is perfect. I see it online now. Thanks!

[2020-12-08 20:15] ronaldtse opened #137 "Update front page content to display IERS announcement and add sponsor's logos"
From @maccraymer

[2020-12-08 20:16] ronaldtse opened #138 "Manually update Extents for certain systems"
From @maccraymer

[2020-12-08 21:41] maccraymer opened #139 "Directly correcting an geographic extent for item"
Using the staging registry, test the possibility of manually edit the contents of the SQL database to implement clarifications that cannot be made in the GUI because of interface bugs. For a specific example, try changing the geographic extent of item 736 (NAD83(Original) to NAD83(CSRS) v6 [NLv1]). The extent is presently:

Canada - onshore and offshore - Newfoundland and Labrador.
60.38 deg North

[2020-12-08 21:52] maccraymer opened #140 "Manually editing Registry database for a change in information source"
Using the staging registry, test the possibility of manually editing the contents of the SQL database to implement clarifications that cannot be made in the GUI because of interface bugs. For a specific example, try changing one of the information sources for item 100 (European Terrestrial Reference Frame 2005). In information source number 3 (Memo : Specifications for reference frame fixing in th

[2020-12-08 22:04] maccraymer opened #141 "Editing of Extent in clarifications proposals"
How difficult would it be to enable the editing & saving of the extent attribute in clarification proposals? Presently, the contents of the extent window are greyed out. Would it be possible to enable the editing/saving of this window's contents without too much work?

[2020-12-08 22:15] maccraymer commented on #139
I was able to submit a clarification proposal without any changes to the item's content but with a comment added in the Justification field. The Justification field can be used to record any manual edits to the Registry database. The justification notes will then appear in the Management tab of the items details view as a clarification.

[2020-12-08 22:17] maccraymer commented on #138
Didn't see this issue before I entered two of my own about the same thing. I will remove those issues and add comments here about specific tests to try.

[2020-12-10 05:25] ronaldtse commented on #138
This is actually a placeholder while waiting for additional information from you. Closing this in favor of #139 #140 . Thanks @maccraymer !

[2021-02-02 07:14] phuonghuynh opened #143 "bug: ISOGR error importing EVRF2019 spreadsheet"
Details can be found in email

[2021-02-10 05:57] phuonghuynh commented on #143
Debug leads me to "relationship field `justification` is empty/null" ; so this bug related to given data is not correct format.

To fix this, I think we need to update excel sheet for this column, `sheet UoM(UM#) ; col Proposal Justification`

cc @ronaldtse

[2021-02-11 07:15] maccraymer commented on #143
Thanks for checking into this Phuong! I did not notice an errant UoM entry that should not have been in the spreadsheet. I removed it and the spreadsheet now imports properly. Sorry for the trouble! I will close this issue now.

[2021-02-11 07:15] #143 closed

[2021-02-11 09:55] ronaldtse commented on #143
Thanks @phuonghuynh and @maccraymer ! Sorry that it took so long!

[2021-08-09 06:46] ronaldtse opened #145 "Update home page content, and reflect sponsoring parties"
Update text to:

---

### ISO Geodetic Registry

The ISO Geodetic Registry is a structured database of coordinate reference systems (CRS) and transformations that is accessible through this online registry system. The Register includes only systems and transformations of international application. It does not include all possible coordinate reference systems and transformations.

This Registry is

[2021-08-09 06:48] ronaldtse commented on #145
Ping @strogonoff for the corresponding Paneron update.

[2021-08-11 08:09] ronaldtse commented on #145
Just to double check are you using the correct AWS account number?

[2021-08-12 13:27] ronaldtse commented on #145
Thanks @strogonoff ! We will also have to tune the message a bit so will let you know when it changes here.

[2021-08-12 13:58] ronaldtse commented on #145
From @maccraymer

1. Reorder sections. I think the following order would be more logical in terms of importance to users:
    * ISO Geodetic Registry (ISOGR)
    * Usage and license
    * Registration Authority
    * Contacting us
    * Sponsors
2. Define ISOGR acronym – I suggest to put it immediately after the title “ISO Geodetic Registry (ISOGR)”.
3. Usage and license
    * Need to change state

[2021-08-12 14:17] ronaldtse commented on #145
Revised text.

-------

### ISO Geodetic Registry (ISOGR)

The ISO Geodetic Registry is a structured database of coordinate reference systems (CRS) and transformations that is accessible through this online registry system. The Register includes only systems and transformations of international application. It does not include all possible coordinate reference systems and transformations.

This Re

[2021-08-13 01:52] ronaldtse commented on #145
@phuonghuynh @strogonoff can you let me know once this change is done? Thanks.

P.S. please keep in mind @maccraymer 's feedback of:

[2021-08-13 03:58] strogonoff commented on #145
Reducing the size any further will make the text on two of the four logos illegible.

[2021-08-13 04:17] ronaldtse commented on #145
@strogonoff the Paneron site does not have the problem about logo size, but please help update the order of logos. Thanks.

[2021-08-13 14:38] maccraymer commented on #145
Not sure if I can reply to this GitHub issue via email reply but here goes…

It is really just the IGN logo that needs to be scaled down and it has large fonts so it will still be legible.

The Kartverket & Ribose logos also have fairly large fonts and can be scaled down a bit as well, if needed.

The NRCan logo is actually two logos: the top NRCan logo with the small text and the bottom Gov’t of

[2021-08-13 14:47] phuonghuynh commented on #145
For the "geodetic.isotc211.org" ; some logos have been scale down to 50%

[2021-08-13 15:12] maccraymer commented on #145
The logos size is better on the Paneron site. You should get rid of the “Canada” part of the NRCan logo which will then allow you to enlarge the NRCan part to make it more legible. I will also provide a new NRCan logo with the English and French text closer together and closer to the flag so it’s not so wide when enlarged.

I also think the logos in Paneron should be side-by-side so they don’t tak

[2021-08-16 04:21] mcraymer commented on #145
I've attached a revised NRCan logo without the Canada word mark and with a slightly compressed width. Please use this one.

[nrcan_logo](https://user-images.githubusercontent.com/20247841/129509749-b4284e9b-359b-49eb-8b50-cfa73871fd70.png)

I've also revised the home page contents per my suggestions above. In addition, I listed the standards the Registry follows in point form. I've attached an ind

[2021-08-16 04:23] mcraymer commented on #145
Not sure why the link to the naref.org page isn't specified properly. Trying again...
https://www.naref.org/isogr/index_mc.html.

[2021-08-16 04:25] mcraymer commented on #145
Trying one more time...it's not an https link, it's a plain http link...
http://www.naref.org/isogr/index_mc.html

[2021-08-16 07:43] ronaldtse commented on #145
@mcraymer right now the size of logos on the mockup show IGN as most prominent. While it is not super important we probably need some thinking here... A "grid" like structure probably works best.

<img width="774" alt="Screenshot 2021-08-16 at 3 34 07 PM" src="https://user-images.githubusercontent.com/11865/129527574-d93fa20d-16d9-4354-b3a4-1453431e2771.png">

[2021-08-16 07:44] ronaldtse commented on #145
P.S. I've added vector logos for all sponsors here: https://github.com/isogr/brand-assets .

I was able to find an NRCan SVG file which I've fixed up the layout according to your image, so the graphic is more crisp and scalable.

[2021-08-16 11:38] maccraymer commented on #145
Yes, like Anton said, the IGN text becomes illegible when reducing much further. Unfortunately, they have a huge acronym with their name spelled out in tiny text. I don’t think there’s anything we can do about it unless we just use the IGN acronym without the full name, or vice versa.
-Mike

Sent from my iPhone with autocorrect typos

On Aug 16, 2021, at 3:43 AM, Ronald Tse ***@***.***> wrote:

﻿

[2021-08-16 11:44] maccraymer commented on #145
The link to all the vector logos didn’t work for me. I get a 404 error.

I’m curious, where did you find the svg image for NRCan? On our website somewhere?

-Mike

Sent from my iPhone with autocorrect typos

On Aug 16, 2021, at 3:44 AM, Ronald Tse ***@***.***> wrote:

P.S. I've added vector logos for all sponsors here: https://github.com/isogr/brand-assets<https://can01.safelinks.protection.outloo

[2021-08-16 13:10] ronaldtse commented on #145
@maccraymer you have access to the org now at https://github.com/isogr .

I found it with a query "natural resources canada filetype:svg" on Google Images, one of them is this:
https://windfallcentre.ca/benchmarking/site/gallery_190919/images/logos/NaturalResourcesCanada.svg

[2021-08-30 04:27] maccraymer commented on #145
Can someone please update the current Registry home page as soon as possible using the text from the following web page:
https://www.naref.org/isogr/index.html.

There are some things that need to be corrected right away. I've also made a few more revisions to the text, including:

* As the CB discussion at its last meeting, I added a paragraph to the end of the first ISOGR section saying that wor

[2021-08-30 04:30] ronaldtse commented on #145
@phuonghuynh can you help do this today? Thanks.

[2021-08-30 05:53] ronaldtse commented on #145
@phuonghuynh is on it.

[2021-08-30 06:05] phuonghuynh commented on #145
@ronaldtse https://www.naref.org/isogr/index.html is 404 to me

[2021-08-30 06:17] phuonghuynh commented on #145
@ronaldtse do you have the corrected version? ATM the paragraph is

[2021-08-30 06:20] phuonghuynh commented on #145
Listed items from https://github.com/ISO-TC211/iso-geodetic-registry/issues/145#issuecomment-908014589

- [ ] As the CB discussion at its last meeting, I added a paragraph to the end of the first ISOGR section saying that work is underway to upgrade to the new 19111:2019 standard.
- [x] Capitalized Registry at end of 2nd sentence in second paragraph of Usage & license section.
- [x] Removed the pa

[2021-08-30 06:59] ronaldtse commented on #145
@phuonghuynh try this, it works
http://www.naref.org/isogr/index.html

[2021-08-30 09:55] maccraymer commented on #145
Sorry for using https in the URL of the example. As Ron realized, it is actually just http. I see the home page has already been updated. Thanks guys for doing this so quickly!! Greatly appreciated!

[2021-08-30 10:09] phuonghuynh commented on #145
Close this as comment in https://github.com/ISO-TC211/iso-geodetic-registry/issues/145#issuecomment-908207103

[2021-08-30 10:09] #145 closed

[2021-08-30 11:44] ronaldtse commented on #145
Thank you @maccraymer @phuonghuynh !!

[2021-11-24 06:24] phuonghuynh opened #147 "Create new GHA token with write permission"
To support dispatch release tag and push docker to GitHub registry

[2022-02-04 05:31] phuonghuynh commented on #147
ping @ronaldtse ; we need it to release the fix for aws db upgrade

[2022-02-04 05:51] ronaldtse commented on #147
@phuonghuynh please help update. Thanks!

[2022-02-04 05:52] phuonghuynh commented on #147
I don't have permission to update setting token ^

[2022-02-04 05:57] ronaldtse commented on #147
@phuonghuynh now available at `secrets.ISOGR_CI_PAT_TOKEN`.

[2022-02-04 05:57] ronaldtse commented on #147
Please help close when verified. Thanks!

[2022-02-04 09:28] phuonghuynh commented on #147
Thanks Ronald, its working, https://github.com/ISO-TC211/iso-geodetic-registry/actions/runs/1794133186

[2022-02-04 09:28] #147 closed

[2022-07-25 12:27] ronaldtse opened #159 "Add link on the front page of ISOGR for the "Guide to CRS Registries""
We need to add some content in this indicated location:
<img width="988" alt="Screen Shot 2022-07-25 at 9 22 01 PM" src="https://user-images.githubusercontent.com/11865/180776510-7dbf3bf1-8e4e-4ac1-9f2a-9aa70214d1bc.png">

The text that goes in is:

The "Guide to Coordinate Reference System (CRS) Resources" text should be a hyperlink to this:
https://committee.iso.org/files/live/sites/tc211/files/

[2022-07-25 12:28] ronaldtse commented on #159
@phuonghuynh could you please help here? Thanks!

[2022-07-26 06:35] #159 closed